* {
    margin: 0%;
    padding: 0%;
}
.fondo {
    background-color: rgb(160, 99, 218);
}
.menu-central {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 5;
    position: relative;
    bottom: 180px;
    right: 300px;
    left: 130px;
    list-style-type: none;  
}
.menu1 {
    font-style: italic;
    font-family: fantasy;
    font-size: 30px;
}


.logo {
    width: 300px;
    height: 280px;
    position: relative;
    left: 10px;
    top: 50px;
}

.galeria {
    font-style: italic;
    font-family: fantasy;
    position: relative;
    font-size: 30px;
    left: 500px;
}

.video {
    position: relative;
    left: 500px;
}

.pie{
    background-color: darkblue;
    position: relative;
    left: 0%;
}

.h3 {
    color: rgb(219, 219, 231);
    font-size: medium;
}
.mapa {
    position: relative;
    left: 800px;
}
.face {
    position: relative;
    left: 200px;
    bottom: 50px;
}
.insta {
    position: relative;
    left: 350px;
    bottom: 50px;
}
.youtube {
    position: relative;
    left: 500px;
    bottom: 50px;
    width: 100px;
}

.redes {
    color: rgb(248, 248, 248);
    position: relative;
    left: 330px;
    font-style: italic;
    font-size: 40px;
    top: 80px;
}